* {
  box-sizing: border-box;
}

@font-face {
  font-family: lato;
  src: url('../fonts/Lato/Lato-Regular.ttf');
}
@font-face {
  font-family: maven;
  src: url('../fonts/Maven_Pro/MavenPro-Regular.ttf');
}

body {
  margin: 0;
}

html {
  font-family: 'lato';
  font-size: 16px;
}

/* Helpers */

.grid {
  display: grid;
}

.clean-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}
.space-around {
  justify-content: space-around;
}

.align-center {
  align-items: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.hidden {
  display: none;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  margin: 0 auto;
  position: absolute;
  top: 50px;
  text-align: center;
}

.btn {
  background-color: aqua;
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

/* header */

header {
  z-index: 10;
  height: 50px;
  width: 100%;
  align-items: center;
  position: fixed;
  background-color: #4f4e4e;
  color: white;
}

.btn-nav {
  display: none;
}
.nav.open {
  display: block;
}
.nav {
  width: 500px;
}
.input-option {
  margin: 20px 0 0 0;
}
.gallery {
  border: 1px solid black;
  margin: 20px;
}
.img-gallery {
  height: 103px;
  margin: 5px;
}

.tags {
  width: 100%;
}
.tag-word {
  margin: 5px;
}

/* editor */

.editor {
  position: absolute;
  top: 50px;
  width: 100%;
  height: 100%;
  background-color: orange;
}

.tools {
  background-color: #4f4e4e;
  position: absolute;
  top: 0px;
  right: 0;
  height: 100%;
  width: 300px;
}

[class^="line-input"] {
  width: 90%;
  margin: 5px;
}

.jscolor {
  width: 5em;
}

.done-btns {
  position: relative;
  top: 100px;
  margin: 10px;
}



@media only screen and (max-width: 780px) {
  .logo {
    font-size: 20px;
  }
}

@media only screen and (max-width: 500px) {
  .nav {
    display: none;
    position: absolute;
    right: 0;
    top: 50px;
    width: 100%;
    background-color: #4f4e4e;
    opacity: 0.9;
  }
  .nav ul {
    display: block;
    text-align: center;
  }
  .nav li {
    margin: 30px;
  }
  .btn-nav {
    display: block;
    width: 25px;
    height: 25px;
    margin-right: 15px;
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
    padding-top: 3px;
  }
}
